* {box-sizing: border-box;}
html { font: 62.5%; }
html, body {
  margin: 0;
  padding: 0;
  background: #f5c40c;
  font-family: 'Alegreya Sans', 'Gotham', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#wrapper {
  padding: 5rem 0;
  max-width: 90rem;
  width: 75%;
  background: #f7f3c3;
  margin: auto;
  border-left: 1.5rem solid white;
  border-right: 1.5rem solid white;
}

header {
  position: relative;
  padding-bottom: 5rem;
}

.main-logo {
  display: block;
  max-width: 80%;
  width: 100%;
  margin: auto;
  position: relative;
  z-index: 2;
}

.hidden-pokemon {
  position: absolute;
  width: 11%;
  z-index: 1;
  transition: top 1s, left 1s;
}

#bulbasaur.hidden-pokemon {
  top: 22%;
  left: 15%;
}
#bulbasaur.hidden-pokemon.show-pokemon {
  top: -5%;
}
#charmander.hidden-pokemon {
  top: 17%;
  left: 37%;
}
#charmander.hidden-pokemon.show-pokemon {
  top: -3%;
}
#pikachu.hidden-pokemon {
  top: 14%;
  left: 60%;
}
#pikachu.hidden-pokemon.show-pokemon {
  top: -5%;
}
#squirtle.hidden-pokemon {
  top: 26%;
  left: 76%;
}
#squirtle.hidden-pokemon.show-pokemon {
  top: 1%;
}

main {
  padding-bottom: 5rem;
}

section {
  position: relative;
  min-height: 30rem;
  width: 95%;
  margin: 1.5rem auto;
  padding: 1.5rem 0;
  border-top: .1rem dashed #ffcb05;
}

section header {
  padding-bottom: .5rem;
}

section::after {
  content: '';
  display: block;
  clear: both;
  height: 0;
}

section:last-child {
  margin-bottom: 0;
}

h1 {
  font-family: 'Bangers', sans-serif;
  font-size: 4.8rem;
  color: #004a94;
  text-align: center;
  text-shadow: .2rem .2rem 0 white;
  letter-spacing: .5rem;
  margin: 0;
}

h2 {
  font-size: 2.4rem;
  color: #1297b1;
  margin-bottom: 0;
}

h3 {
  font-size: 1.6rem;
  color: #528CCB;
  margin-bottom: 0;
}

p, li { font-size: 1.4rem; }

p { color: #6A6663; }

img {
  border: 0;
  max-width: 100%;
}

.clearfix::after {
  content: '';
  display: block;
  clear: both;
  height: 0;
}

.full-width {
  width: 100%;
}

.type-list {
  margin: 0;
  padding: 0;
  text-align: center;
}

.type-list li {
  display: inline-block;
  margin: 0 1rem 1rem 0;
  padding: 0;
  list-style: none;
}

.type-list li.inactive { opacity: .3; }

.type-list li.inactive:hover { opacity: 1; }

.responsive-chart-container {
  position: relative;
  width: 100%;
}
.responsive-chart-container.type-chart-container::after {
  content: "";
  display: block;
  padding-bottom: 75%;
}
.responsive-chart-container.gen-chart-container::after {
  content: "";
  display: block;
  padding-bottom: 2%;
}

#hide-type-chart {
  color: #27a8c2;
  font-weight: bold;
  text-decoration: none;
  padding: .2rem .5rem;
  margin-left: -.2rem;
  display: none;
}

#hide-type-chart:hover {
  background: #27a8c2;
  color: #fff;
}

.responsive-chart-container.type-chart-container #hide-type-chart {
  display: inline-block;
}

.am-chart {
  position: absolute;
  width: 100%;
  height: 100%;
}

.type-list li a {
  display: block;
  width: 5rem;
  padding-top: 5rem;
  height: 7rem;
  text-decoration: none;
  color: #3c9950;
  text-align: center;
  background: url("../i/typ_bug.png") top center/contain no-repeat;
}
.type-list li.type-bug a { color: #3c9950; background: url("../i/typ_bug.png") top center/contain no-repeat; }
.type-list li.type-dark a { color: #595978; background: url("../i/typ_dark.png") top center/contain no-repeat; }
.type-list li.type-dragon a { color: #e91368; background: url("../i/typ_dragon.png") top center/contain no-repeat; }
.type-list li.type-electric a { color: #e0cb19; background: url("../i/typ_electric.png") top center/contain no-repeat; }
.type-list li.type-fairy a { color: #62cad9; background: url("../i/typ_fairy.png") top center/contain no-repeat; }
.type-list li.type-fighting a { color: #ef6239; background: url("../i/typ_fighting.png") top center/contain no-repeat; }
.type-list li.type-fire a { color: #fd4b5a; background: url("../i/typ_fire.png") top center/contain no-repeat; }
.type-list li.type-flying a { color: #94b2c7; background: url("../i/typ_flying.png") top center/contain no-repeat; }
.type-list li.type-ghost a { color: #906791; background: url("../i/typ_ghost.png") top center/contain no-repeat; }
.type-list li.type-grass a { color: #27cb50; background: url("../i/typ_grass.png") top center/contain no-repeat; }
.type-list li.type-ground a { color: #a8702d; background: url("../i/typ_ground.png") top center/contain no-repeat; }
.type-list li.type-ice a { color: #62adcf; background: url("../i/typ_ice.png") top center/contain no-repeat; }
.type-list li.type-normal a { color: #ca99a6; background: url("../i/typ_normal.png") top center/contain no-repeat;}
.type-list li.type-poison a { color: #9b69da; background: url("../i/typ_poison.png") top center/contain no-repeat; }
.type-list li.type-psychic a { color: #f71e92; background: url("../i/typ_psychic.png") top center/contain no-repeat; }
.type-list li.type-rock a { color: #8b3e22; background: url("../i/typ_rock.png") top center/contain no-repeat; }
.type-list li.type-steel a { color: #60756e; background: url("../i/typ_steel.png") top center/contain no-repeat; }
.type-list li.type-water a { color: #1552e1; background: url("../i/typ_water.png") top center/contain no-repeat; }

#type-chart {
  width: 100%;
  height: 100%;
}

#gen-chart {
  width: 100%;
  height: 20rem;
}

.two-col {
  width: 50%;
}

.one-third {
  width: 33%;
}

.two-third {
  width: 67%;
}

.left { float: left; }
.right { float: right; }

#waypoint-nav {
  position: fixed;
  left: 0;
  top: 6.5rem;
  padding: 0;
  margin: 0;
}

#waypoint-nav li {
  list-style: none;
  margin: 0;
  padding: 0;
}

#waypoint-nav li a {
  display: block;
  text-decoration: none;
  color: white;
  line-height: 1.6rem;
  font-size: 1.2rem;
  padding: 0 .5rem;
  margin: .5rem 0 .5rem 1rem;
  border-left: .2rem solid transparent;
}

#waypoint-nav li a.on-screen {
  color: #004a94;
  border-color: #004a94;

}


#pokemon-generation-list { margin: 0; padding: 0; text-align: center; position: relative;}
#pokemon-generation-list::after { content: ""; display: block; height: 0; clear: both; }
.loading {
  height:30rem;
  background: transparent url("../i/ring-alt.gif") center no-repeat;
}

#pokemon-generation-list li {
  list-style: none;
  width: 5rem;
  height: 5rem;
  margin: 0 1rem .6rem 0;
  display: inline-block;
  vertical-align: initial;
  text-align: center;
  overflow: hidden;
  background: white;
  border-radius: 50%;
  position: relative;
  left: 0;
  top: 0;
  background: #f5f4e9;
  border: .1rem solid #f5c40c;
  transition: all .5s ease-out;
}

.pokemon-generation-li::after {
  content: 'Pokémon #' attr(data-number);
  display: block;
  font-style: italic;
  color: #a9aaa6;
  font-size: 1.2rem;
}

#pokemon-generation-list li.selected {
  z-index: 5;
  width: 15rem;
  height: 15rem;
  top: 4.4rem;
  left: -.5rem;
  background: #fff;
  margin: -16.5rem -4.5rem 0 -4.5rem;
  box-shadow: 0 0 1rem #066477;
}

#pokemon-generation-list li img {
  width: 5rem;
  height: 5rem;
  max-width: none;
  display: block;
  margin: auto;
  transition: all .5s ease-out;
  position: relative;
  top: 0;
}

#pokemon-generation-list li.selected img {
  width: 9.6rem;
  height: 9.6rem;
}

#pokemon-generation-list li .pokemon-name {
  color: #6A6663;
}


#world-map-wrapper {
  position: relative;
  width: 100%;
  background: url("../i/worldMap.png") center no-repeat;
  background-size: contain;
  overflow: hidden;
}

#world-map-wrapper::after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

#map-list {
  position: absolute;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#map-list li {
  list-style: none;
  position: absolute;
  left: 0;
  top: 0;
  color: white;
  font-size: 2.1rem;
  font-weight: bold;
  text-shadow: .15rem .15rem 0 #094b58;
  cursor: pointer;
  transition: all .5s;
}
li#kanto { left: 51%; top: 44%; }
li#johto { left: 26%; top: 30%; }
li#hoenn { left: 38%; top: 59%; }
li#sinnoh { left: 30%; top: 87%; }
li#unova { left: 82%; top: 58%; }
li#kalos { left: 27%; top: 15%; }

@media screen and (max-width: 998px) {
  #map-list li {
    font-size: 1.6rem;
  }
}

#region-data {
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  padding: 2rem;
  position: absolute;
  z-index: 2;
  left: 0;
  top: 100%;
  color: white;
  transition: all .8s ease-out;
}

#region-data.visible {
  top: 0;
}

#region-data h2, #region-data h3, #region-data h4 {
  color: #1297b1;
}

#region-data h3, #region-data h4 {
  margin-bottom: 0;
}

#region-data p {
  margin-top: 0;
  color: white;
}

#region-right {
  height: 88%;
}

.region-list.location-list {
  height: 80%;
  overflow: scroll;
}

.close-region {
  color: white;
  text-decoration: none;
  font-weight: bold;
  opacity: .6;
}

.close-region:hover {
  opacity: 1;
  color: #f5c40c;
}

#stat-chart {
  width: 100%;
  height: 30rem;
}

#single-pokemon-name img {
  vertical-align: middle;
}

#evolution-chain {
  margin: 2rem 0 1rem 0;
  padding: 0;
  display: flex;

}

#evolution-chain li {
  list-style: none;
  flex-grow: 1;
  text-align: center;
  color: white;
  line-height: 2.4rem;
  background: #27a8c2;
  cursor: pointer;
  margin-right: -1.2rem;
  position: relative;
  z-index: 1;
}

#evolution-chain li:hover {
  background: #1eb6d5;
}


#evolution-chain li::after, #evolution-chain li::before {
  content: '';
  border: 1.2rem solid #f7f3c3;
  border-left-color: #27a8c2;
  height: 0;
  width: 0;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 0;
}

#evolution-chain li:hover::after {
  border-left-color: #1eb6d5;
}

#evolution-chain li::before {
  right: auto;
  left: 0;
  border: 1.2rem solid #27a8c2;
  border-left-color: #f7f3c3;
}

#evolution-chain li:hover::before {
  border-right-color: #1eb6d5;
  border-top-color: #1eb6d5;
  border-bottom-color: #1eb6d5;
}

#evolution-chain li:first-child::before {
  content: none;
}

#evolution-chain li.baby-form::before {
  content: '';
  display: block;
  width: 5rem;
  height: 5rem;
  border: 0;
  background: transparent url("../i/ic_pacifier.svg") center/cover no-repeat;
  top: -0.8rem;
  left: -1rem;
}

#evolution-chain li:last-child {
  margin-right: 0;
}

#evolution-chain li:last-child::after {
  content: '';
  display: block;
  width: 4rem;
  height: 4rem;
  border: 0;
  background: transparent url("../i/ic_finalForm.svg") center/cover no-repeat;
  top: -0.8rem;
  right: -1rem;
}

#evolution-chain li span {
  position: relative;
  z-index: 5;
  left: -.4rem;
}

/* SINGLE LINE FORM */
form.single-field-form {
  margin: 0;
  padding: 0;
  min-width: 90%;
  height: 3.2rem;
  position: relative;
}

form.single-field-form input {
  height: 3.2rem;
  line-height: 2.2rem;
  font-size: 1.6rem;
  border: .2rem solid transparent;
  padding: 0 1rem;
  position: absolute;
  top: 0;
}

form.single-field-form input[type="text"] {
  width: 100%;
  left: 0;
  padding-right: 8rem;
 }

form.single-field-form input[type="submit"] {
 width: auto;
 right: 0;
 display: inline-block;
 text-align: center;
 vertical-align: middle;
 cursor: pointer;
 background: #27a8c2;
 border-radius: 0;
 color: white;
}

form.single-field-form input[type="submit"]:hover {
  background: #1eb6d5;
}

form.single-field-form input[type="submit"]:active {
  background: #12849b;
}


/* RADIO SELECT FORM */
form.radio-select {
  text-align: center;
}

form.radio-select input[type="radio"] {
  display: none;
}

form.radio-select label {
  display: inline-block;
  padding: 5px 20px;
  text-align: center;
  min-width: 15rem;
  max-width: 100%;
  margin: 0 .5rem 1rem 0;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
  background: #27a8c2;
  border-radius: .3rem;
  top: 0;
  color: white;
  font-size: 1.8rem;
  border: .1rem solid #1297b1;
  box-shadow: 0 .2rem 0 #1297b1;
  transition: top .1s, box-shadow .1s;
}
form.radio-select label.selected {
  box-shadow: inset 0 0 .1rem #000;
  top: .2rem;
  border:0;
  background: #066477;
}
